doctype html
html(lang='en', ng-app='PowerDD', ng-init="action = 'login'; apiUrl = '#{config.apiUrl}'; apiKey = '#{config.apiKey}'; shop = '#{config.shop}'")
	head
		title #{__('Sign in')} | PowerDD Backend System
		meta(charset='utf-8')
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', href='//src.powerdd.com/libs/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='//src.powerdd.com/libs/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='//src.powerdd.com/libs/adminlte/2.3.0/css/AdminLTE.min.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
		link(rel='icon', href='favicon.ico', type='image/x-icon')

	body.hold-transition.login-page.colorful(ng-controller='Auth')
		.login-box
			.box.box-primary
				.box-header.text-center.bg-light-blue
					h3.box-title(ng-show="action == 'login'") #{__('Sign in')}
					h3.box-title.ng-hide(ng-cloak, ng-show="action == 'register'") #{__('Create account')}
					h3.box-title.ng-hide(ng-cloak, ng-show="action == 'forgot'") #{__('Forgot password')}
				form(name='formLogin', ng-show="action == 'login'")
					.form-group.has-feedback(ng-class="{ 'has-error' : formLogin.username.$error.pattern }")
						input.form-control(name='username', ng-model="user.username", type='text', placeholder="#{__('username')} #{__('or')} #{__('email')} #{__('or')} #{__('Mobile Phone Number')}", required)
						span.fa.fa-user.form-control-feedback
					.form-group.has-feedback(ng-class="{ 'has-error' : formLogin.password.$error.$viewValue == '' }")
						input.form-control(name='password', ng-model="user.password", type='password', placeholder="#{__('password')}", required)
						span.fa.fa-lock.form-control-feedback
					.checkbox.pull-left
						label
							input#remember(type='checkbox')
							|  #{__('Stay signed in')}
					.btn-group.pull-right
						span.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-globe
							|  #{__('language')}  
							span.caret
						ul.dropdown-menu
							li(class="#{data.language == 'th' ? 'active' : ''}")
								a(href="#{data.language == 'th' ? 'javascript:void(0)' : '/language/th'}") #{__('languageThai')}
							li(class="#{data.language == 'en' ? 'active' : ''}")
								a(href="#{data.language == 'en' ? 'javascript:void(0)' : '/language/en'}") #{__('languageEnglish')}
					.clearfix

				form.ng-hide(name='formRegister', ng-cloak, ng-show="action == 'register'")
					.form-group.has-feedback(ng-class="{ 'has-error' : formRegister.username.$error.pattern }")
						input#username.form-control(name='username', ng-model="user.username", type='text', placeholder="#{__('username')}", ng-pattern="/^[A-Za-z0-9_-]{3,32}$/", required, maxlength="36")
						span.fa.fa-user.form-control-feedback
					.form-group.has-feedback(ng-class="{ 'has-error' : formRegister.mobile.$error.pattern }")
						input#mobile.form-control(name='mobile', ng-model="user.mobile", type='text', placeholder="#{__('Mobile Phone Number')}", ng-pattern="/^[0]+([0-9]{8,9})$/", required, maxlength="10")
						span.fa.fa-phone-square.form-control-feedback
					.form-group.has-feedback(ng-class="{ 'has-error' : formRegister.email.$error.pattern }")
						input#email.form-control(name='email', ng-model="user.email", type='text', placeholder="#{__('email')}", ng-pattern="/^[_A-Za-z0-9]+(\.[_A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[a-z]{2,4})$/", required)
						span.fa.fa-envelope.form-control-feedback
					.form-group.has-feedback(ng-class="{ 'has-error' : formRegister.password.$viewValue != formRegister.password2.$viewValue }")
						input#password.form-control(name='password', ng-model="user.password", type='password', placeholder="#{__('password')}", required)
						span.fa.fa-lock.form-control-feedback
					.form-group.has-feedback(ng-class="{ 'has-error' : formRegister.password.$viewValue != formRegister.password2.$viewValue }")
						input#password2.form-control(name='password2', ng-model="user.password2", type='password', placeholder="#{__('retype password')}", required)
						span.fa.fa-lock.form-control-feedback
					.clearfix

				form.ng-hide(ng-cloak, ng-show="action == 'forgot'")
					.form-group.has-feedback
						input#username.form-control(type='text', placeholder="#{__('username')} #{__('or')} #{__('email')} #{__('or')} #{__('Mobile Phone Number')}")
						span.fa.fa-user.form-control-feedback
					.form-group.has-feedback
						input#question.form-control(type='text', placeholder="#{__('Question')}")
						span.fa.fa-question-circle.form-control-feedback
					.form-group.has-feedback
						input#answer.form-control(type='text', placeholder="#{__('Answer')}")
						span.fa.fa-quote-right.form-control-feedback
					.clearfix

				.footer
					
					.text-center.ng-hide(ng-cloak, ng-show="hasError == true")
						p.text-red.ng-hide(ng-cloak, ng-show="error == 'MBR0031'") 
							i.fa.fa-warning  
							|  #{__('Username already exists')}
						p.text-red.ng-hide(ng-cloak, ng-show="error == 'MBR0051'") 
							i.fa.fa-warning  
							|  #{__('Mobile phone number already exists')}
						p.text-red.ng-hide(ng-cloak, ng-show="error == 'MBR0061'") 
							i.fa.fa-warning  
							|  #{__('Email already exists')}

					#dv-info.callout.callout-info.margin-bottom-0.hidden
						h4
							i.fa.fa-comment
							span.msg-header สถานะการทำงาน
						p
							span.msg-detail
					button.btn.bg-light-blue.btn-block(type='button', disabled, ng-hide="action != 'login'", ng-click="login()", ng-disabled="formLogin.username.$error.required || formLogin.password.$error.required") #{__('Sign in')}
					button.btn.bg-light-blue.btn-block.ng-hide(type='button', disabled, ng-cloak, ng-hide="action != 'register'", ng-click="register()", 
						ng-disabled="formRegister.username.$error.pattern || formRegister.username.$error.required || formRegister.mobile.$error.pattern || formRegister.mobile.$error.required || formRegister.email.$error.pattern || formRegister.password.$error.required || formRegister.password2.$error.required || formRegister.password.$viewValue != formRegister.password2.$viewValue") #{__('Create account')}
					button#btn-check.btn.bg-light-blue.btn-block.ng-hide(type='button', ng-cloak, ng-hide="action != 'forgot'") ตรวจสอบ

					p.ng-hide(ng-cloak, ng-hide="action == 'login'")
						a(href='javascript:', ng-click="action = 'login'") #{__('Sign in')}
					p(ng-hide="action == 'register'")
						a(href='javascript:', ng-click="action = 'register'") #{__('Create account')}
					p(ng-hide="action == 'forgot'")
						a(href='javascript:', ng-click="action = 'forgot'") #{__('Forgot password')}

		script(src='//src.powerdd.com/libs/jquery/2.1.4/jquery.min.js')
		script(src='//src.powerdd.com/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='//src.powerdd.com/libs/angular/1.4.6/angular.min.js')
		script(src='//src.powerdd.com/libs/angular/ngStorage/0.3.9/ngStorage.min.js')
		script(src='//src.powerdd.com/libs/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='//src.powerdd.com/libs/adminlte/2.3.0/js/app.min.js')
		script(src='/javascripts/login.js')