doctype html
html(lang='en', ng-app='PowerDD', ng-init="action = 'login'")
	head
		title #{__('Sign in')} | PowerDD Backend System
		meta(charset='utf-8')
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', href='//src.powerdd.com/libs/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='//src.powerdd.com/libs/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='//src.powerdd.com/libs/adminlte/2.3.0/css/AdminLTE.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
		link(rel='icon', href='favicon.ico', type='image/x-icon')

	body.hold-transition.login-page.colorful
		.login-box
			.box.box-primary
				.box-header.text-center.bg-light-blue
					h3.box-title(ng-show="action == 'login'") #{__('Sign in')}
					h3.box-title.ng-hide(ng-cloak, ng-show="action == 'register'") #{__('Create account')}
					h3.box-title.ng-hide(ng-cloak, ng-show="action == 'forgot'") #{__('Forgot password')}
				form(ng-show="action == 'login'")
					.form-group.has-feedback
						input#username.form-control(type='text', placeholder="#{__('username')} #{__('or')} #{__('email')} #{__('or')} #{__('Mobile Phone Number')}")
						span.fa.fa-user
					.form-group.has-feedback
						input#password.form-control(type='password', placeholder="#{__('password')}")
						span.fa.fa-lock
					.checkbox.pull-left
						label
							input#remember(type='checkbox')
							|  #{__('Stay signed in')}
					.btn-group.pull-right
						span.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-globe
							|  #{__('language')}  
							span.caret
						ul.dropdown-menu
							li(class="#{data.language == 'th' ? 'active' : ''}")
								a(href="#{data.language == 'th' ? 'javascript:void(0)' : '/language/th'}") #{__('languageThai')}
							li(class="#{data.language == 'en' ? 'active' : ''}")
								a(href="#{data.language == 'en' ? 'javascript:void(0)' : '/language/en'}") #{__('languageEnglish')}
					.clearfix

				form.ng-hide(name='formRegister', ng-cloak, ng-show="action == 'register'")
					.form-group.has-feedback
						input#username.form-control(type='text', placeholder="#{__('username')}", ng-minlength=2)
						span.fa.fa-user
					.form-group.has-feedback
						input#mobile.form-control(type='text', placeholder="#{__('Mobile Phone Number')}", ng-pattern="/^\d+$/", ng-minlength=9, ng-maxlength=10, required)
						span.fa.fa-phone-square
					.form-group.has-feedback
						input#email.form-control(name='email', type='email', placeholder="#{__('email')}", ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/", required)
						span.fa.fa-envelope
					.form-group.has-feedback
						input#password.form-control(type='password', placeholder="#{__('password')}")
						span.fa.fa-lock
					.form-group.has-feedback
						input#password2.form-control(type='password', placeholder="#{__('retype password')}")
						span.fa.fa-lock
					.clearfix

				form.ng-hide(ng-cloak, ng-show="action == 'forgot'")
					.form-group.has-feedback
						input#username.form-control(type='text', placeholder="#{__('username')} #{__('or')} #{__('email')} #{__('or')} #{__('Mobile Phone Number')}")
						span.fa.fa-user
					.form-group.has-feedback
						input#question.form-control(type='text', placeholder="#{__('Question')}")
						span.fa.fa-question-circle
					.form-group.has-feedback
						input#answer.form-control(type='text', placeholder="#{__('Answer')}")
						span.fa.fa-quote-right
					.clearfix

				.footer
					#dv-info.callout.callout-info.margin-bottom-0.hidden
						h4
							i.fa.fa-comment
							span.msg-header สถานะการทำงาน
						p
							img.loading.top-2(src='/images/icons/loading.gif', alt='loading')
							span.msg-detail
					button#btn-login.btn.bg-light-blue.btn-block(type='button', ng-hide="action != 'login'") #{__('Sign in')}
					button#btn-register.btn.bg-light-blue.btn-block.ng-hide(type='button', ng-cloak, ng-hide="action != 'register'", ng-disabled="formRegister.email.") #{__('Create account')}
					button#btn-check.btn.bg-light-blue.btn-block.ng-hide(type='button', ng-cloak, ng-hide="action != 'forgot'") ตรวจสอบ
					p
						{{formRegister.email.$valid}}
					p.ng-hide(ng-cloak, ng-hide="action == 'login'")
						a(href='javascript:', ng-click="action = 'login'") #{__('Sign in')}
					p(ng-hide="action == 'register'")
						a(href='javascript:', ng-click="action = 'register'") #{__('Create account')}
					p(ng-hide="action == 'forgot'")
						a(href='javascript:', ng-click="action = 'forgot'") #{__('Forgot password')}

		script(src='//src.powerdd.com/libs/jquery/2.1.4/jquery.min.js')
		script(src='//src.powerdd.com/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='//src.powerdd.com/libs/angular/1.4.6/angular.min.js')
		script(src='//src.powerdd.com/libs/angular/ngStorage/0.3.9/ngStorage.min.js')
		script(src='//src.powerdd.com/libs/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='//src.powerdd.com/libs/adminlte/2.3.0/js/app.min.js')
		script(src='/javascripts/common.js')